.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-areas:
   'h h '
   'n i '
   'n c ';
  grid-template-columns:3fr 12fr ;
}



.app-wrapper-content{

    grid-area: i;
    background-image: linear-gradient(to bottom,#383737, #838282 );


}




/*.main-image {
  margin-top: -20px;
  grid-area: i;
  background-image: url("./images/main-image.jpg");
  background-position: center top 20px;
  background-size: cover;

  height: 200px;
  background-repeat: no-repeat;

}*/

